@model IEnumerable<ProductCategory>

<h1><strong>Product Categories</strong></h1>

<table class="table small">
    <thead>
        <tr>
            <td>Action 1:</td>
            <td>Action 2:</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a class="btn btn-success" asp-action="Create" asp-route-productId=@ViewBag.ProductId>
                    Add new category to product
                </a>
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Product" asp-action="Index">Back to products</a>
            </td>
        </tr>
    </tbody>
</table>



@*dodati proizvode po kategorijama*@




@*<p>
    <a class="btn btn-success" asp-action="Create" asp-route-productId=@ViewBag.ProductId>
        Add new category to product
    </a>
</p>
<br />
<p>
    <a class="btn btn-primary" asp-controller="Product" asp-action="Index">Back to products</a>
</p>*@
